<div class="page">
  <div class="page-content">
    <div class="logo">
      <img src="../../assets/images/logo.png" alt="" />
      <div class="logo-description">
        Kênh thông tin tuyển dụng chất lượng cao & tạo CV của Sinh viên IT Việt
        Nam
      </div>
    </div>
  </div>
  <div class="page-header">
    <div class="bar">
      <div (click)="page()">
        <span nz-icon nzType="svg:home" eIconSize="1.25rem"></span>
      </div>
      <div>
        <button class="bar-item" (click)="page()">Trang chủ</button>
      </div>
      <div class="bar-setting">
        <ng-template #title>
          <span class="bar-item"> {{ news }}</span></ng-template
        >
        <ehiring-dropdown
          [temRef]="title"
          [data]="listNews"
          (selectionChange)="onSelectionChangeNews($event)"
        ></ehiring-dropdown>
      </div>

      <button class="bar-item" (click)="recruit()">Tuyển dụng</button>

      <button class="bar-item" (click)="company()">Company</button>
    </div>
    <div class="barright">
      <button class="barright-item" (click)="login()" *ngIf="!isShow">
        Đăng nhập
      </button>

      <button class="barright-item" (click)="resign()" *ngIf="!isShow">
        Đăng ký
      </button>
      <div (click)="info()" *ngIf="isShow">
        <span nz-icon nzType="svg:user-white"></span>
      </div>
      <button class="barright-item" (click)="info()" *ngIf="isShow">
        Info
      </button>
      <button class="barright-item" (click)="logout()" *ngIf="isShow">
        Đăng xuất
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
