<div class="page">
  <div class="page-content">
    <div class="logo">
      <img src="../../assets/images/logo.png" alt="" />
      <div class="logo-description">
        Kênh thông tin tuyển dụng chất lượng cao & tạo CV của Sinh viên IT Việt
        Nam
      </div>
    </div>
  </div>
  <div class="page-header">
    <div class="bar">
      <button class="bar-item" (click)="page()">Trang chủ</button>
      <div class="bar-line"></div>
      <div class="setting">
        <ng-template #title>
          <span class="bar-item"> {{ news }}</span></ng-template
        >
        <ehiring-dropdown
          [temRef]="title"
          [data]="listNews"
          (selectionChange)="onSelectionChangeNews($event)"
        ></ehiring-dropdown>
      </div>
      <div class="bar-line"></div>
      <button class="bar-item" (click)="login()">Đăng nhập</button>
      <div class="bar-line"></div>
      <button class="bar-item" (click)="resign()">Đăng ký</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
