<div class="page">
  <div class="page-content">
    <div class="logo">
      <img src="../../assets/images/logo.png" alt="" />
      <div class="logo-description">
        Kênh thông tin tuyển dụng chất lượng cao & tạo CV của Sinh viên IT Việt
        Nam
      </div>
    </div>

    <div class="info">
      <button class="info-login">Đăng nhập</button>
      <div class="info-line"></div>
      <button class="info-login">Đăng ký</button>
    </div>
  </div>
  <div class="page-header"></div>
</div>
