<div class="page-body">
  <div class="left">
    Tạm rời khỏi những mối quan hệ cá nhân và bạn bè trên Facebook một lúc và
    khám phá YBOX mỗi ngày - Cộng đồng chia sẻ tri thức, kinh nghiệm, tâm sự,
    quan điểm, sở thích, kết bạn và cơ hội phát triển bản thân của người trẻ
    Việt Nam
    <br />
    <br />
    <button class="left-bnt">Đăng bài</button>
  </div>
  <div class="right"></div>
</div>
<div class="page-body1">
  <div class="title">Bài xem nhiều nhất trong tháng</div>
  <nz-pagination
    [nzPageIndex]="1"
    [nzTotal]="5"
    [nzPageSize]="1"
    class="customPagination"
  ></nz-pagination>
  <div>Nội dung từng bài</div>
</div>
<div class="page-footer">
  <div class="left">
    © 2014 - 2022 Công ty cổ phần TopCV Việt Nam<br />
    Trụ sở HN:<br />
    Tầng 3, 4 tòa FS - GoldSeason số 47 Nguyễn Tuân, Thanh Xuân Trung, Thanh
    Xuân, Hà Nội<br />
    Chi nhánh TP HCM:<br />
    Tầng 12, Tòa nhà Dali, 24C Phan Đăng Lưu, Phường 6, Quận Bình Thạnh, TP Hồ
    Chí Minh
  </div>
</div>
