<div class="page">
  <div class="page-body">
    <div class="left">
      Tạm rời khỏi những mối quan hệ cá nhân và bạn bè trên Facebook một lúc và
      khám phá YBOX mỗi ngày - Cộng đồng chia sẻ tri thức, kinh nghiệm, tâm sự,
      quan điểm, sở thích, kết bạn và cơ hội phát triển bản thân của người trẻ
      Việt Nam
      <br />
      <br />
      <button class="left-bnt">Đăng bài</button>
    </div>
    <div class="right"></div>
  </div>
  <!-- <div class="page-body1">
    <div class="title">Bài xem nhiều nhất trong tháng</div>
    <nz-pagination
      [nzPageIndex]="pageIndex$ | async"
      [nzTotal]="(rawListScholarship$ | async)?.length ?? 0"
      [nzPageSize]="pageSize$ | async"
      (nzPageIndexChange)="onPageIndexChange($event)"
      class="customPagination"
    ></nz-pagination>
    <div class="bottom">
      <div>
        TÌM THẤY {{ listData.length }} KẾT QUẢ VỚI TIÊU CHÍ: CHUYÊN MỤC: HỌC
        BỔNG
      </div>
      <div *ngFor="let data of listData$ | async" class="bottom-list">
        <div>{{ data.scholarship }}</div>
        <div>{{ data.level }}</div>
        <div>{{ data.majors }}</div>
        <div>{{ data.location }}</div>
        <div>{{ data.descriptions }}</div>
      </div>
    </div>
  </div> -->
  <div class="page-footer">
    <div class="left">
      © 2014 - 2022 Công ty cổ phần TopCV Việt Nam<br />
      Trụ sở HN:<br />
      Tầng 3, 4 tòa FS - GoldSeason số 47 Nguyễn Tuân, Thanh Xuân Trung, Thanh
      Xuân, Hà Nội<br />
      Chi nhánh TP HCM:<br />
      Tầng 12, Tòa nhà Dali, 24C Phan Đăng Lưu, Phường 6, Quận Bình Thạnh, TP Hồ
      Chí Minh
    </div>
  </div>
</div>
