@import "/src/app/shared/styles/ehiring.less";

.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  &-body {
    display: flex;
    .left {
      font-family: Times;
      color: white;
      font-size: 26px;
      margin: 16% 3%;
      padding: 20px 30px 10px;
      border-radius: 3px;
      display: block;
      background: rgba(0, 0, 0, 0.6);
      flex: 0 1 calc(600% / 10);
      &-bnt {
        background-color: @lightorange;
        padding: 10px 80px;
        font-size: 20px;
        color: white;
        border: 0px solid transparent;
        border-radius: 3px;
      }
    }
    .right {
      padding: 100px;
      background-image: url("/assets/images/homepage1.jpg");
      border-radius: 5px;
      flex: 0 1 calc(300% / 10);
    }
  }
  &-body1 {
    .title {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.38;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
      color: #222;
    }
    .customPagination {
      padding: 1rem 1rem;
    }
    .bottom {
      padding: 0 1rem;
      &-list {
        border: 1px solid @mid;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 0.25rem;
      }
    }
  }
  &-footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    .left {
      padding-left: 1rem;
      flex: 0 1 calc(600% / 10);
    }
  }
}
