<div class="page">
  <div class="page-content">
    <img src="../../assets/images/logo.png" alt="" class="logo" />
    <!-- <div class="namepage">NewsCV</div> -->
    <div class="login">ĐĂNG NHẬP</div>
    <button class="button">Tiếp tục với facebook</button>
    <input
      placeholder="Tên đăng nhập hoặc email"
      class="input"
      [(ngModel)]="email"
    />
    <input
      type="password"
      placeholder="Mật khẩu"
      class="input"
      [(ngModel)]="pass"
    />
    <button class="buttonlg" (click)="login()">Đăng nhập</button>
    <div>
      <a href="" class="link"> <span>Quên mật khẩu</span> </a>
    </div>
    <div class="resign">
      Chưa có tài khoản?<a href="" class="link">Đăng ký ngay</a>
    </div>
  </div>
  <div class="page-content2">
    Kênh thông tin tuyển dụng chất lượng cao & tạo CV của Sinh viên IT Việt Nam
  </div>
</div>
