<div class="page">
  <div class="page-body">
    <div class="left">
      <div class="left-title1">Cộng đồng</div>
      <div class="left-title2">Sự Kiện</div>
      <div class="left-title3">
        Lễ hội, hòa nhạc văn hóa cho đến các hội thảo, hội nghị về mọi chủ đề
        kinh tế, marketing, khoa học – kỹ thuật, giáo dục, khởi nghiệp, hướng
        nghiệp, học bổng, du học,… hữu ích
      </div>
      <div class="left-check">
        <div class="filter">
          <div class="filter-search">
            <input nz-input placeholder="Tìm kiếm theo từ khoá" class="input" />
          </div>
          <div class="filter-dropdown">
            <div class="setting">
              <ng-template #title>
                <span class="setting-title"> {{ location }}</span></ng-template
              >
              <ehiring-dropdown
                [temRef]="title"
                [data]="dataScholarship"
                (selectionChange)="onSelectionChange($event)"
              ></ehiring-dropdown>
            </div>

            <div class="setting">
              <ng-template #title1>
                <span class="setting-title"> {{ category }}</span></ng-template
              >
              <ehiring-dropdown
                [temRef]="title1"
                [data]="dataScholarship"
                (selectionChange)="onSelectionChange($event)"
              ></ehiring-dropdown>
            </div>
          </div>
        </div>
        <button class="find">Tìm kiếm</button>
      </div>
    </div>
  </div>
</div>
