<div class="flex justify-between w-full h-14 mb-4 items-center">
  <ng-container *ngIf="isViewLayout; else editLayout">
    <div class="list-button">
      <ng-content select="[button]"></ng-content>
    </div>
  </ng-container>
  <ng-template #editLayout>
    <div class="flex-auto">
      <h3 class="text-lg font-bold mb-1">
        {{ status }}
      </h3>
      <div class="text-primary-1">
        {{ sectionName }}
      </div>
    </div>
    <div class="list-button flex-none">
      <button
        class="button-secondary"
        style="width: 10rem"
        (click)="onCancel()"
      >
        Hủy
      </button>
      <button
        class="button-primary"
        style="width: 10rem"
        (click)="onSubmit()"
        #test
      >
        Lưu
      </button>
    </div>
  </ng-template>
</div>
<div class="layout-container rounded-t-lg">
  <ng-container [ngTemplateOutlet]="container"></ng-container>
</div>
