<ul nz-menu nzSelectable class="w-40 menu-secondary customDropdownMenu">
  <ng-container *ngFor="let filterItem of data">
    <li
      nz-submenu
      nzTitle="{{ filterItem.label }}"
      [nzMenuClassName]="'customDropdownMenu'"
    >
      <ul class="w-40 menu-secondary">
        <ng-container *ngFor="let item of filterItem.value; index as idx">
          <li
            nz-menu-item
            [nzSelected]="item.value"
            [nzMatchRouter]="true"
            [nzMatchRouterExact]="true"
            [ngClass]="item.value ? 'ant-dropdown-menu-item-selected' : ''"
            (click)="onSelect(idx, filterItem.key, item.text, !item.value)"
          >
            {{ item.label }}
          </li>
        </ng-container>
      </ul>
    </li>
  </ng-container>
  <li
    *ngIf="clearButton"
    nz-menu-item
    (click)="onClear()"
    [nzMatchRouter]="true"
    [nzMatchRouterExact]="true"
    class="text-secondary-1"
  >
    Xóa tất cả
  </li>
</ul>
