<div class="bg-light h-full">
  <div
    class="flex px-8 h-16 bg-white border-b-2 w-full justify-between items-center"
  >
    <div>
      <ng-container [ngTemplateOutlet]="leftHeader"></ng-container>
    </div>
    <div>
      <ng-container [ngTemplateOutlet]="rightHeader"></ng-container>
    </div>
  </div>
  <div class="bg-light flex flex-col px-8" style="height: calc(100% - 4rem)">
    <div class="flex-none flex items-center h-16 py-1" *ngIf="showTopBody">
      <ng-container [ngTemplateOutlet]="topBody"></ng-container>
    </div>
    <div
      [id]="id"
      class="flex site-container flex-auto"
      [ngClass]="showTopBody ? '' : ' pt-8'"
      [ngStyle]="{
        height: showTopBody ? 'calc(100% - 4rem)' : '100%',
        width: '100%'
      }"
    >
      <div
        [ngClass]="showSideBar ? 'w-4/12' : 'w-full'"
        class="transition-all duration-300 relative"
      >
        <ng-container [ngTemplateOutlet]="leftBody"></ng-container>
      </div>
      <div
        [ngClass]="showSideBar ? 'w-8/12' : 'hidden'"
        class="pl-8 bg-light h-full rounded-lg transition-all duration-300"
      >
        <ng-container [ngTemplateOutlet]="rightBody"></ng-container>
      </div>
    </div>
  </div>
</div>
