<div class="page">
  <div class="page-body">
    <div class="left">
      <div class="left-title2">Học bổng</div>
      <div class="left-title3">
        Học bổng toàn phần, bán phần của chính phủ, các tổ chức, công ty và
        trường đại học trong nước và quốc tế hấp dẫn
      </div>
      <div class="left-check">
        <div class="filter">
          <div class="filter-search">
            <input
              nz-input
              placeholder="Tìm kiếm theo từ khoá"
              class="input"
              (keydown.enter)="search($event)"
            />
          </div>
          <div class="filter-dropdown">
            <div class="setting">
              <ng-template #title>
                <span class="setting-title">
                  {{ scholarship }}</span
                ></ng-template
              >
              <ehiring-dropdown
                [temRef]="title"
                [data]="dataScholarship"
                (selectionChange)="onSelectionChangeScholarship($event)"
              ></ehiring-dropdown>
            </div>

            <div class="setting">
              <ng-template #title1>
                <span class="setting-title"> {{ level }}</span></ng-template
              >
              <ehiring-dropdown
                [temRef]="title1"
                [data]="dataLevel"
                (selectionChange)="onSelectionChangeLevel($event)"
              ></ehiring-dropdown>
            </div>
          </div>
          <div class="filter-dropdown">
            <div class="setting">
              <ng-template #title2>
                <span class="setting-title"> {{ majors }}</span></ng-template
              >
              <ehiring-dropdown
                [temRef]="title2"
                [data]="dataMajors"
                (selectionChange)="onSelectionChangeMajors($event)"
              ></ehiring-dropdown>
            </div>

            <div class="setting">
              <ng-template #title3>
                <span class="setting-title"> {{ location }}</span></ng-template
              >
              <ehiring-dropdown
                [temRef]="title3"
                [data]="dataLocation"
                (selectionChange)="onSelectionChangeLocation($event)"
              ></ehiring-dropdown>
            </div>
          </div>
        </div>
        <button class="find">Tìm kiếm</button>
      </div>
    </div>
    <div class="bottom">
      <div>
        TÌM THẤY {{ listScholarship.length }} KẾT QUẢ VỚI TIÊU CHÍ: CHUYÊN MỤC:
        HỌC BỔNG
      </div>
      <div *ngFor="let data of listScholarship" class="bottom-list">
        <div>{{ data.scholarship }}</div>
        <div>{{ data.level }}</div>
        <div>{{ data.majors }}</div>
        <div>{{ data.location }}</div>
        <div>{{ data.descriptions }}</div>
      </div>
    </div>
  </div>
</div>
