<div class="page">
  <div class="page-content">
    <img src="../../assets/images/logo.png" alt="" class="logo" />
    <div class="login">ĐĂNG KÝ</div>
    <button class="button">Tiếp tục với facebook</button>
    <input placeholder="Họ tên" class="input" />
    <div class="dropdown">
      <ng-template #title>
        <span class="title"> {{ gender }}</span></ng-template
      >
      <ehiring-dropdown
        [temRef]="title"
        [data]="listgender"
        (selectionChange)="onSelectionChange($event)"
      ></ehiring-dropdown>
    </div>
    <input placeholder="Email" class="input" />
    <input placeholder="Nhập lại email" class="input" />
    <input type="password" placeholder="Mật khẩu" class="input" />
    <button class="buttonlg">Đăng ký</button>
    <div class="resign">
      Đã có tài khoản?<a href="" class="link">Đăng nhập ngay</a>
    </div>
  </div>
  <div class="page-content2">
    Kênh thông tin tuyển dụng chất lượng cao & tạo CV của Sinh viên IT Việt Nam
  </div>
</div>
