<!-- Show Competition -->
<div class="page">
  <div class="page-body">
    <div class="left">
      <div class="left-title2">Cuộc thi</div>
      <div class="left-title3">
        Học bổng toàn phần, bán phần của chính phủ, các tổ chức, công ty và
        trường đại học trong nước và quốc tế hấp dẫn
      </div>
      <div class="left-check">
        <div class="filter">
          <div class="filter-search">
            <input
              nz-input
              placeholder="Tìm kiếm theo từ khoá"
              class="input"
              (keydown.enter)="search($event)"
            />
          </div>
          <div class="filter-dropdown">
            <div class="setting">
              <ng-template #title>
                <span class="setting-title">
                  {{
                    location !== "" && location !== undefined
                      ? location
                      : "Địa điểm"
                  }}</span
                ></ng-template
              >
              <ehiring-dropdown
                [temRef]="title"
                [data]="dataLocation"
                (selectionChange)="onSelectionChangeLocation($event)"
              ></ehiring-dropdown>
            </div>

            <div class="setting">
              <ng-template #title1>
                <span class="setting-title">
                  {{
                    Category !== "" && Category !== undefined
                      ? Category
                      : "Thể loại"
                  }}</span
                ></ng-template
              >
              <ehiring-dropdown
                [temRef]="title1"
                [data]="dataCategory"
                (selectionChange)="onSelectionChangeCategory($event)"
              ></ehiring-dropdown>
            </div>
          </div>
        </div>
        <button class="find" (click)="find()">Tìm kiếm</button>
      </div>
    </div>
    <div class="bottom">
      <div>
        TÌM THẤY {{ listScholarship.length }} KẾT QUẢ VỚI TIÊU CHÍ: CHUYÊN MỤC:
        HỌC BỔNG
      </div>
      <div *ngFor="let data of listScholarship$ | async" class="bottom-list">
        <div>{{ data.title }}</div>
        <div>{{ data.shortContent }}</div>
        <div>{{ data.location }}</div>
        <div>{{ data.type }}</div>
        <div>{{ data.typeNews }}</div>
      </div>
    </div>
    <nz-pagination
      [nzPageIndex]="pageIndex$ | async"
      [nzTotal]="(rawListScholarship$ | async)?.length ?? 0"
      [nzPageSize]="pageSize$ | async"
      (nzPageIndexChange)="onPageIndexChange($event)"
      class="customPagination"
    ></nz-pagination>
  </div>
</div>
